
/* ==== Scroll down to find where to put your styles :) ==== */


/* 	HTML5 Boilerplate
 
	html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
	v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* End of Reset CSS 

fonts.css from the YUI Library: developer.yahoo.com/yui/ */

body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* 
 * HTML5 Boilerplate - minimal base styles 
 */

body, select, input, textarea { 
  color: #444; 
  /* font-family: Georgia, serif;  */   
}
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { 
  padding: 15px; 
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* By default the selection color is pink */
::-moz-selection{ background: #f16529; color:#fff; text-shadow: none; }
::selection { background:#f16529; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/*
    // ========================================== \\
   ||                                              ||
   ||               CHCHNEEDS SPECIFIC             ||
   ||                                              ||
    \\ ========================================== //
*/
html, body {width: 100%; height: 100%; background-color:#F2EFEF;}
.body {background-color: #fff; border-bottom: 1px solid #ffffff;}

body {
font-family: helvetica, arial, verdana;
color: #000;
font-size: 14px;
}


/* ----- Columns ----- */

.body .page{padding: 15px 0;}

.page {width: 976px; margin: 0 auto;}

.logo {margin: 7px 16px 7px 0;display:block;}

.logo {
width: 247px;
margin: 25px 0px 0px 0px;
}

.navigation {
float: right;
width: 300px;
text-align: right;
margin-top: 0px;
}

.navigation ul li {
display: inline;
margin: 0px 7px;
}


.addyours a , .navigation ul li a, .navigation ul li a:visited {
color: inherit; /*#666;*/
text-decoration: underline;
font-size: 1.2em;
}


h1, h2, h3, h4, h5 {
font-family: myriad pro, tahoma;
font-size: 2em;
margin: 0px;
padding: 0px;
}

h1 {
color: #163F58;
}

h2 {
font-size: 1.6em;
}

h3 {
font-size: 1.3em;
margin-bottom: 7px;
color: #666; 
}

a {
color: #163F58;
}

.header {
background: #D4E8F4; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4E8F4', endColorstr='#B0DAF5'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#D4E8F4), to(#B0DAF5)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #D4E8F4,  #B0DAF5); /* for firefox 3.6+ */
}

.mainbody {
  background: none repeat scroll 0 0 #EFEFEF;
  border-top: 1px solid #CCCCCC;
}


p.current_path {
font-size: 1.2em;
}

p.current_path a, p.current_path a:visited {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background: #D4E8F4;
color: #163F58;
padding: 3px 7px;
text-decoration: none;
}

img.large_avatar {
 width:64px;
 height:64px;
}

/*
.tweet {
	cursor:pointer;
} */

.tweet .name {
	font-size:0.9em;
}

.tweet p.respond {
	float:right;
}

.tweet:hover p.respond {
	background:#f16529; color:#fff; 
}

.tweet:hover p.respond A {
 	color:#fff; 
}

.tweet a.img {
	width:94px;
	overflow:hidden;
}
.tweet:hover {
	background:url(../img/arrow.png) no-repeat right center;
}
.tweet_body {
	font-size:1.1em;
}

ul, li, ol {
	margin: 0px;
	padding: 0px;
}

/*
.typebox {
margin-bottom: 10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background: #fff;
} */

.typebox ul li {
	display: inline;
	padding-bottom: 5px;
	height: 20px;
	line-height: 20px;
	white-space:nowrap;
}

.typebox ul li a, .typebox ul li a:visited {
	text-decoration: underline;
	font-size:1.2em;
	line-height: 35px;
}

.typebox ul li a:hover, ul li a.current {
	color:#FE6F1F
}

.typebox ul li.button a, .typebox ul li.button a:visited {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	text-decoration: none;
	font-size:1.3em;
	padding: 5px 15px;
	height: 20px;
	background: #D4E8F4;
	color: #163F58;
}

.typebox ul li.button a.current, .typebox ul li.button a.current:visited {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff; /* #D4E8F4; */
	color: #163F58;
}

.typebox ul li.button a:hover, .typebox ul li.button a.current:hover {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff; /* #D4E8F4; */
	color: #163F58;
}

.filterbox {
	margin-bottom: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff;
}

.filterbox ul li {
display: inline;
padding-bottom: 5px;
height: 20px;
line-height: 20px;
white-space:nowrap;
}

.filterbox ul li a, .filterbox ul li a:visited {
text-decoration: none;
padding: 3px 7px;
height: 20px;
line-height: 20px;
color: #666;
}

.filterbox ul li a.current, .filterbox ul li a.current:visited {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background: #D4E8F4;
color: #163F58;
}

.filterbox ul li a:hover, .filterbox ul li a.current:hover {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background: #D4E8F4;
color: #163F58;
}


.addyours {
background: #58B0EB; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9CD1F3', endColorstr='#58B0EB'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#9CD1F3), to(#58B0EB)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #9CD1F3,  #58B0EB); /* for firefox 3.6+ */
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.addyours h2 {
color: #092435;
}


.addyours ol {
margin: 0px 0px 5px 25px;
}

.addyours ol li {
	font-size: 1.2em;
	color: #092435;
	margin-left: 0px;
	padding: 0px;
	list-style:inherit;
}


.addyours p.respond {
	margin: 0px 0px 0px 25px;
}

.addyours p.respond A {
	text-decoration:none;
	line-height:30px;
}

.addyours p.respond A:hover {
	text-decoration:underline;
}

.addyours:hover p.respond {
	background:#f16529; color:#fff; 
}

.addyours:hover p.respond A {
 	color:#fff;
}



/* ----- Foot ----- */
.foot {background:#999;border-top: 1px solid #777;}
.foot .copyright {margin-right: 20px;}
.foot .inline_list {padding: 10px;}
.foot A, .foot A:hover { color:#000; text-decoration:underline;}
.foot A:visited { color:#222; text-decoration:underline;}

/*
    // ========================================== \\
   ||                                              ||
   ||               END CHCHNEEDS SPECIFIC          ||
   ||                                              ||
    \\ ========================================== //
*/






/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*
 *  CSS3 Media queries
 */

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

